/* src/App.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.appBar {
  z-index: 1201; /* Higher than the drawer's z-index */
}

.drawer {
  width: 240px;
  flex-shrink: 0;
}

.drawerPaper {
  width: 240px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.content {
  flex-grow: 1;
  padding: 16px;
  margin-left: 240px;
  margin-top: 64px;
  transition: margin 0.3s ease;
}
